@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<h2>This is a About page</h2>
<a href="~/Home/Index">Home</a>
<a href="~/Home/Contact">Contact</a>